#!/bin/sh
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx
export DefaultImModule=fcitx
export GLFW_IM_MODULE=ibus # for kitty

wmname LG3D &
sxhkd &
# synergys -d NOTE

