export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx
export DefaultImModule=fcitx

# key repeat speed
xset r rate 200 40

fcitx-autostart
wmname LG3D &
sxhkd &
# synergys -d NOTE

nohup ~/.dropbox-dist/dropboxd &
